body {
    margin-top: 4em;
}

/* ---- Header ---- */

header {
    display: grid;
    grid-template-columns: minmax(80px, 1fr) minmax(auto, 45ch) minmax(80px, 1fr);
}

header aside {
    text-align: right;
    /* Grid height (if the image is smaller than the titles) */
    height: 10em;
}

header aside img {
    max-width: 130%;
    height: 130%;
    /* Keep image aspect ratio */
    object-fit: contain;
}